$main-color: #9818d6;
$main-color: #283149;
$main-color: #6c7b95;

.about-me {
  width: 100%;
  padding: 2rem 10rem;
  background-color: $main-color;
  position: relative;
  display: flex;
  flex-direction: column;

  .background {
    position: absolute;
    background-image: url("../../assets/bg-about-me.jpg");
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1) brightness(0.2);
    opacity: 0.4;
  }

  .headline {
    width: fit-content;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    padding: {
      top: 0;
      right: 0;
    }
    border-bottom: solid 2px white;
    align-self: flex-end;
    z-index: 1;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;

    .description {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 12rem;
      z-index: 1;

      .my-photo {
        width: 5rem;
        height: auto;
        filter: invert(1);
        margin-right: 5rem;
      }

      h4 {
        margin-top: 0;
        color: white;
        font-size: 0.8rem;
      }

      .text {
        width: 30rem;
        color: white;
        font-size: 0.55rem;
        line-height: 0.85rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .about-me {
    padding: 2.5rem;

    .content .description {
      margin: 2rem 0;

      .my-photo {
        margin-right: 3rem;
      }

      .text {
        width: 18rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .about-me {
    padding: 2.5rem;

    .content .description {
      margin: 2rem 0;

      .my-photo {
        margin-right: 2rem;
        width: 4rem;
      }

      .text {
        width: 20rem;
      }
    }
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .about-me {
    padding: 1rem;
    height: 26rem;

    .background {
      background-attachment: initial;
    }

    .headline {
      font-size: 0.9rem;
      padding-bottom: 0.75rem;
      border-width: 1px;
    }

    .content {
      .description {
        padding-top: 3rem;
        width: 100%;
        flex-direction: column;

        .my-photo {
          margin: 3rem 0;
        }

        h4 {
        }

        .text {
          width: 100%;
        }
      }
    }
  }
}
