.skill-list-mobile {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.75s ease;
  transform: translateY(300px);
  opacity: 0;

  .list {
    display: flex;
  }

  .arrow-mobile {
    font-size: 2rem;
    margin: 0 1rem;
  }

  .inactive {
    color: gray;
    pointer-events: none;
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .skill-list-mobile {
    margin-top: 0.5rem;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .skill-list-mobile {
    display: flex;

    .list {
      padding: 0;
    }

    .arrow-mobile {
      margin: 0;
    }
  }
}
