$main-color: #9818d6;
$main-color: #3e64ff;

.my-skills {
  width: 100%;
  // background-color: #262729;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;

  .corner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  * {
    z-index: 1;
  }

  .headline {
    color: white;
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
    padding-top: 0;
  }

  .about-skills {
    width: 25rem;
    color: white;
    text-align: center;
    font-size: 0.55rem;
    transition: all 0.75s ease;
    transform: translateY(300px);
    opacity: 0;
  }

  .skills {
    display: flex;
    width: 100%;
    transition: all 0.75s ease;
    transform: translateY(300px);
    opacity: 0;
    margin-top: 1.5rem;

    .list {
      display: flex;
      position: absolute;
      padding: 0 4rem;
    }
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .my-skills {
    .corner {
      height: 20rem;
      width: auto;
    }

    .about-skills {
      width: 20rem;
    }
  }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) {
  .my-skills {
    padding: 1rem;

    .headline {
      font-size: 0.9rem;
      padding-bottom: 0.75rem;
      border-width: 1px;
    }

    .about-skills {
      width: auto !important;
      font-size: 0.6rem;
    }
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .my-skills {
    .about-skills {
      width: 12rem;
    }
  }
}
