$main-color: #283149;
$main-color: #6c7b95;

.development {
  width: 100%;
  padding: 5rem 0;
  position: relative;
  color: white;
  background: url("../../assets/bg-development.jpg");
  background-position: center;
  background-size: cover;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #262729;
    opacity: 0.95;
  }

  * {
    z-index: 2;
  }

  .strip {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 4.5rem;
    width: 35rem;
  }

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 100%;

    .heading {
      width: 14rem;
      margin: auto;

      .headline {
        color: white;
        font-size: 0.8rem;
        z-index: 1;
        margin: 0;
      }

      p {
        color: lightgray;
        font-size: 0.6rem;
        margin: 1rem 0;
      }

      .button {
        color: white;
        background-color: rgb(54, 157, 241);
        font-size: 0.6rem;
        padding: 0.2rem 1.1rem;
        border-radius: 1rem;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
          background-color: black;
        }
      }
    }

    .about-learning {
      margin: 2rem;
      font-size: 0.5rem;
      text-align: center;
    }

    .new-skills {
      align-self: flex-end;
      display: flex;
      padding-right: 0.5rem;

      #node,
      #redux,
      #photoshop {
        transform: translateY(300px);
        opacity: 0;
      }

      .box {
        width: 10rem;
        height: 10rem;
        display: flex;
        flex-direction: column;
        transition: all 0.75s ease;
        margin: 0.5rem 0.25rem;
        padding: 1rem;
        background-color: rgb(238, 245, 250);
        background-color: #fff;
        border-radius: 0.3rem;

        .top {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          img {
            display: flex;
            height: 1.25rem;
            width: auto;
            filter: brightness(0);
          }

          .name {
            font-size: 0.7rem;
            color: rgb(54, 157, 241);
          }
        }

        .description {
          width: 100%;

          .text {
            margin: 0;
            font-size: 0.5rem;
            text-align: center;
            color: gray;
          }
        }

        &:hover {
          cursor: pointer;
          transform: translateY(-50px) !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1600px) and (max-height: 900px) {
  .development {
    .strip {
      width: 33.5rem;
    }
    .content {
      .heading {
        width: 11rem;
      }
      .new-skills .box {
        img {
          height: 2.25rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1366px) and (max-height: 1024px) {
  .development {
    padding: 2rem;
    height: auto;

    .strip {
      // transform: rotate(-90deg);
    }

    .content {
      .heading {
        width: 15rem;
      }
      .new-skills {
        display: flex;
        flex-direction: column;
        align-items: center;

        #node,
        #redux,
        #photoshop {
          transform: translateX(300px);
          opacity: 0;
        }

        .box {
          justify-content: center;
          margin: 0.75rem 0;

          .description {
            .name {
              font-size: 0.7rem;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (max-height: 1366px) {
  .development {
    padding: 2rem;
    height: auto;

    .strip {
      // transform: rotate(-90deg);
    }

    .content {
      .heading {
        width: 15rem;
      }
      .new-skills {
        display: flex;
        flex-direction: column;
        align-items: center;

        #node,
        #redux,
        #photoshop {
          transform: translateX(300px);
          opacity: 0;
        }

        .box {
          justify-content: center;
          margin: 0.75rem 0;

          .description {
            .name {
              font-size: 0.7rem;
              color: white;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 414px) and (max-height: 823px) {
  .development {
    padding: 2rem 1rem;
    .strip {
      top: 2rem;
      height: 9rem;
      display: none;
    }
    .content {
      flex-direction: column;

      .heading {
        width: auto;
        margin: 1rem 0;
        text-align: center;
        padding: 0 1rem;

        .headline {
          color: rgb(54, 157, 241);
          font-size: 1rem;
          display: none;
        }

        p {
          color: white;
        }
      }

      .button {
        display: none;
      }

      .new-skills {
        width: 100%;
        .box {
          width: 100%;
          height: auto;
          background-color: transparent;

          &:hover {
            transform: translateY(0) !important;
          }

          .top {
            .name {
              font-size: 0.9rem;
            }
            img {
              height: 3rem;
              filter: brightness(0) invert(1);
            }
          }

          .description {
            .text {
              font-size: 0.6rem;
              color: lightgray;
            }
          }
        }
      }
    }
  }
}
